DBT_PROJECT_DIR=/path/to/dbt/project
# Use absolute path (run: which dbt)
DBT_PATH=/path/to/.local/bin/dbt
DB_NAME="Add from Secrets"
HOST="Add from Secrets"
RW_ETL_USER_NAME="Add from Secrets"
RW_ETL_USER_PASSWORD="Add from Secrets"
DB_PORT=5439
# Acceptable values: dev, prod
# ENV=dev
DEV_INITIALS=
# Acceptable values: bi-prod account id, bi-dev account id
AWS_ACCOUNT_ID=

AWS_PROFILE=
AWS_REGION=
LANGFUSE_BASE_64_TOKEN=
